<form class="" action="/<%=@posts[:id]%>" method="post">
  <label for="">Post Id</label>
  <input type="text" name="id" value="<%=@posts[:id]%>">
<br>
  <label for="">Post Title</label>
  <input type="text" name="title" value="<%=@posts[:title]%>">
<br>
  <label for="">Post Body</label>
  <input type="text" name="body" value="<%=@posts[:body]%>">
<br>
  <input type="submit" name="submit" value="Click To Submit">
  <% if @posts[:id] != "" %>
    <input type="hidden" name="_method" value="put">
  <% end %>


</form>
